@font-face {
  font-family: Font1;
  src: url(assets/font/font.ttf);
}
body {
  text-align: center;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: Font1;
}
canvas {
  border: 5px solid white;
}
button {
  font-family: Font1;
  background-color: gray;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}
.instructions {
  text-align: left;
  position: absolute;
  top: 120px;
  left: 5px;
}
.musiclabel {
  position: absolute;
  top: 0;
  left: 14px;
}
.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.nexttext {
  position: relative;
  bottom: 305px;
  left: 77px
}
.storetext {
  position: relative;
  bottom: 480px;
  left: 77px
}
.linestext {
  position: relative;
  bottom: 275px;
  left: 77px
}
.scoretext {
  position: relative;
  bottom: 300px;
  left: 77px
}
.homebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px;
}
#next {
  position: relative;
  bottom: 160px;
  left: 12px
}
#store {
  position: relative;
  bottom: 290px;
  right: 87px
}
#lines {
  position: relative;
  bottom: 295px;
  left: 77px
}
#score {
  position: relative;
  bottom: 320px;
  left: 77px
}